<script id="skater-template" type="text/x-handlebars-template">
  <div class="skater">
    <form class="edit-skater-form">
      <div>
        <label for="name">name: </label>
        <input type="text" name="name" value="{{name}}">
      </div>
      <div>
        <label for="name">derby name: </label>
        <input type="text" name="derby_name" value="{{derby_name}}">
      </div>
      <div>
        <label for="name">number: </label>
        <input type="text" name="derby_number" value="{{derby_number}}">
      </div>
      <div>
        <input class ="edit-skater-submit" type="submit" method="POST" data="{{id}}">
      </div>
    </div>
  </script>
