<h1>Edit Skater</h1>
<%if @skater.name %>
  <%=link_to 'Delete this Skater',@skater, method: :destroy, data: {confirm: "are you sure you want to delete #{@skater.name}"}%>
<%end%>
<div id="skater" data= <%=@skater.id%>></div>

<%=render partial: "skater"%>

<!-- <%#= render @skater %> -->
<ul>
  <%= render @skater.payments%>
</ul>
