<h1>Skaters</h1>

<%@skaters.each do |skater| %>
  <div>
    <%= link_to "
      Name : #{skater.name} |
      Derby Name : #{skater.derby_name} |
      Number : #{skater.derby_number}", edit_skater_path(skater)%>
  </div>
<%end%>
<%= link_to 'Create a new skater', new_skater_path %>
