<li>
  <%= payment.amount %> |
  <%= Paymenttype.find(payment.payment_type_id).method %> |
  <%= payment.date %> |
  <%= link_to "Delete Payment",skater_payment_path(@skater,payment) , method: :delete, data: {confirm: "Are you sure you want to delete this payment"} %>
</li>
